$anim: fadeIn !default;
$animTime: 1s !default;
$animDelay: 0s !default;
$anim-fillmode: forwards !default;

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    //-webkit-animation: $animations;
    //-moz-animation:    $animations;
    //-o-animation:      $animations;
    animation:         $animations;
    opacity:0;
}

@mixin keyframes($animationName) {
    //@-webkit-keyframes #{$animationName} {
        //@content;
    //}
    @keyframes #{$animationName} {
        @content;
    }
}

