@mixin slideInUpBounce {

    @include keyframes(slideInUpBounce) {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(4%);
        }
        65% {
            transform: translateY(-4%);
        }
        75% {
            transform: translateY(8%);
        }
        85% {
            transform: translateY(-8%);
        }
        95% {
            transform: translateY(8%);
        }
        100% {
            transform: translateY(-100%);
        }
    }

}
