// Fade In Down
//@include animation(fadeindown 1s);


@mixin fadeInDown() {

    @include keyframes(fadeInDown) {
        0% {
            opacity: 0;
            transform: translateY(-1em);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

}
