// Fade In Up
//@include animation(fadeinup 1s);

@mixin fadeInUp() {

    @include keyframes(fadeInUp) {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-2em);
        }
    }

}
